/* Layout
  =============== */

  // My Helpers //

.flex-h {
  display: flex;
  flex-direction: row;
}

.flex-v {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}



// Separator //

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-color: grey;
  width: 50%;
}
