/* Layout
  =============== */

  // My Helpers //

.flex-h {
  display: flex;
  flex-direction: row;
}

.flex-v {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}



// Separator //

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-color: grey;
  width: 50%;
}

// Cards //

.card {
  width: calc(100vw - 75px);
  box-shadow: 0 10px 18px 0 rgba(0,0,0,.03);
  height: auto;
  background-color: #fff;
  border-radius: 12px;
  box-sizing: border-box;

  .card-image {
    height: calc(6.25vw + 130px);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  .card-content {
    color: #868686;
    padding: 1.5rem;
  }
  
  &.product-card {
    overflow: hidden;
  }
}