/* Layout
  =============== */

  // My Helpers //

.flex-h {
  display: flex;
  flex-direction: row;
}

.flex-v {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}



// Separator //

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-color: grey;
  width: 50%;
}

// Cards //

.card {
  background-color: #fff;
  border-radius: 14px;
  box-sizing: border-box;
  overflow: hidden;

  &:hover {
    text-decoration: none;
  }

  .card-content-title {
    color: $primary-color;
  }

  .card-content-button {
    width: 100%;
  }

  &.card-product {
    width: 100%;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,.03);
    height: auto;
    margin-bottom: 2rem;

    @include large-breakpoint {
      width: calc(30.33% - 15px);
      margin-bottom: 0px;
    }

    .card-product__image {
      height: calc(6.25vw + 130px);
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
    }

    .card-product__content {
      color: #868686;
      padding: 1.5rem;

    }
  }
}