/* Navigation
  =============== */

  .navbar {
    height: 60px;

  .navbar-container {
    justify-content: space-between;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0;

  .navbar-button {
    flex: 1;
    min-width: 300px;
    font-size: $font-size;
    color: #fcfcfc;
    font-weight: 500;
    padding: 1rem;
    transition: 0.3s ease;

    &:hover {
      text-decoration: none;
      border-bottom: 1px solid #fcfcfc;
      transition: 0.3s ease;
    }
  }
}
}

@media screen and (min-width: 600px) {
  nav a {
    padding: 20px;
    font-size: .9rem;
  }
}