// Tiles //

.tile-base {
    background-color: #fff;
    border-radius: 14px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: $shadow-1;
}

// Cards //

.card {
    @extend .tile-base;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin-bottom: 1.5rem;

    @include medium-breakpoint {
      margin-bottom: 0;
    }

    @include large-breakpoint {
        transition: 0.3s ease;

        &:hover {
            text-decoration: none;
            box-shadow: $shadow-3;
        }
    }

    .card-content {
        color: #868686;
        font-size: $font-size-small;
        overflow-y: auto;
        display: flex;
        flex-direction: column;

        .card-content-image {
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50%;
            justify-content: center;

        }

        .card-content-footer {
            flex-shrink: 0;
            margin-top: auto;

            button {
              width: 100%;
            }
        }
    }
}

.icon-image {
  height: 25vh;
}
