/* Index Specific Styles*/

.bg-image {
     height: 100%;
     background-repeat: no-repeat;
     background-size: cover;
     position: absolute;
     background-position: center center;
     top: 0;
     left: 0;
     z-index: -2;
     overflow: hidden;
     max-height: 70vh;

     @include medium-breakpoint {
         max-height: none;
     }
    }

    #random{
        width: 100%;
        background-image: url('../../dist/images/bg-03.jpg');
      }

.bg-tile {
    max-width: 600px;
    margin: 8vh 0 0 -2vw;
    position: absolute;
    z-index: -2;
    opacity: 0.5;
    display: none;
    
    .slide-in-left {
        -webkit-animation: slide-in-left 0.5s ease-in-out 0.8s both;
        animation: slide-in-left 0.5s ease-in-out 0.8s both;
    }


@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  

    @include medium-breakpoint {
        display: block;
        -webkit-animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}

.img-overlay {
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    background-color: #334052; 
    opacity: 0.7;
    max-height: 70vh;
    

    @include medium-breakpoint {
        max-height: none;
    }
}

.section-container {
    margin-left: 2rem;
    margin-right: 2rem;

    @include large-breakpoint {
        margin-left: 8rem;
        margin-right: 8rem;

        &.hero {
            height: calc(100vh + 96px); 
        }
    }
}

// Hero //

.container-hero {
    height: calc(70vh - 60px);
    padding-top: 5vh;
    padding-bottom: 5vh;


    @include medium-breakpoint {
        height: calc(100vh - 60px);  
        align-items: center;
    }

    .text-container {
        width: 100%;
        margin-top: 5vh;

        p, h1 {
        color: #fff;
    }

        @include medium-breakpoint {
            width: 45%;
            margin-top: auto;
            margin-bottom: auto;

            h1 {
                color: $heading-font-color;
            }

            p {
                color: $font-color;
            }
        }
    }
}

img.landing-image-lg {
    max-height: 585px;
    margin-left: 4rem;
    width: 120%;
    height: 100%;
    display: none;
-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s both;
     animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s both;

    @include medium-breakpoint {
        display: block;
    }

@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
}

.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    display: flex;
    flex-direction: column;

    @include medium-breakpoint {
        flex-direction: row;
    }
}

// Seção parceiros //

.partner-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include medium-breakpoint {
        flex-direction: row;
        margin-bottom: 0px;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .partner-icon-box {
        overflow: hidden;
        padding: 24px;
        width: 200px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;



        @include medium-breakpoint {
            padding: 24px;
            width: 250px;
            height: 250px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                box-shadow: 6px 6px 17px -4px rgba(204,204,204,1);
            }

            .partner-icon {
                height: auto;
            }
        }

}
}

// Footer //

footer {
    background-color: $alternate-color;
    height: 30vh;
    width: 100%;
    position: relative;
    justify-content: space-between;
    padding: 2vh 5vw 0 5vw;

    p {
        color: #fff;
        font-weight: 500;
        opacity: 0.7;
        font-size: 0.875rem;
    }

    img {
        width: 24px;
        height: 24px;
    }
}



